*{
    margin: 0;
    padding: 0;
}
.image-sprites{
    background-color: #e7e7e7;
    padding: 20px 0;
    margin-top: 0px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}
.image-sprites ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.image-sprites ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.image-sprites ul li a{
    background-image: url(../images/sprite-icon-29.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 84px;
    height: 84px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 100%;
    transition: all ease-in-out 1s;

}
.image-sprites ul li:nth-child(1) a:hover{
    background-position: 0 -84px;
}
.image-sprites ul li:nth-child(2) a{
    background-position: -84px 0;
}
.image-sprites ul li:nth-child(2):hover a{
    background-position: -84px -84px;
}
.image-sprites ul li:nth-child(3) a {
    background-position: -168px 0;
}
.image-sprites ul li:nth-child(3) a:hover{
    background-position: -168px -84px;
}
.image-sprites ul li:last-child a{
    background-position: -250px 0;
}
.image-sprites ul li:last-child:hover a{
    background-position: -250px -84px;
}